PORT=4000
NODE_ENV=development

JWT_ACCESS_SECRET=7f2a9c4e1b8d3AndrewKras6a0f5e2c9b1d4
JWT_REFRESH_SECRET=3e8b1d6f9a2c5AndrewKras0e4b7d1a8c2f5

MONGO_URI=mongodb+srv://All1In:12345678)))Bog@mockup.jjukimj.mongodb.net/?appName=MockUp
